@import url('https://fonts.googleapis.com/css?family=Overpass:400,700,900|Roboto:100,400,700');
/*font-family: 'Roboto', sans-serif;
font-family: 'Overpass', sans-serif;
*/

body {
	font-size: 16px;
	/*background-color: green;*/
}

h1, h2{
    font-family: 'Overpass', sans-serif;
}

nav a {
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 1em;
	line-height: 2.5em;
}

nav a:hover {
	background-color: lime;
	color: black;
}

h1 {	
    font-weight: 900;
    font-size: 7em;
}

h2 {	
    font-weight: 900;
    font-size: 3em;
}

h3, nav a, ul {	
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-weight: 700;
	font-size: 2em;
}


p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #604553;
	/*margin: 2em;*/
}

ul {
	list-style-type: disc;
	text-align: left;
	font-size: 1.4em;
	line-height: 1.4em;
}

span {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .10em;
  font-size: .7em;
  /*display: block;*/
  /*background: rgba(100,150,150,.5);*/
}

header {
	width: 100%;
	height: 10%;
	display: block;

}

section {
	/*background-color: pink;*/
	clear: both;
	margin: 0 auto;
}

footer {
	background-color: #160914;
    padding: .75%;
    display: block;
    text-align: center;
    position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
}


#index_page {
	background-color: gray;
}

#main-logo {
	width: 150px;
	float: left;
	padding: 1.5em;
}

#top-nav {
	/*max-width: 40%;*/
	float: right;
}

#button {
	display: block;
	text-align: center;
	
}

#see_my_work {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
  	color: white;
  	background-color: rgba(0,0,0,.3);
  	text-decoration: none;
  	font-size: 1.7em;
  	padding: .3em;
  	border: 1px solid white;
  	width: 200px;
  	position:absolute;
  	top:60%;
  	margin: 0 auto;
  	left: 0;
  	right: 0;

}


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('../images/apollo_vid_img.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#portfolio_page {
	background-image: url(../images/IMG_BG_Newsroom.jpg)
}

.w3-content {
	max-width: 1080px;
}

#NBC_heading {
	color: white;
	vertical-align:middle;
}

#about_page {
	background-image: url(../images/IMG_BG_GalaxyGlitch.jpg)
	/*background-size: cover;*/
}


#SUP {
	display: block;
	max-width: 75%;
	margin-top: 3%;
}

#HEY {
	text-align: right;
	width: 20%;
	display: block;
	background-color: white;
	padding: 3.7em 2em 3.7em 6em;
	float: left;
}

#HEY_txt {
	width: 60%;
	display: block;
	background-color: white;
	padding: 2.3em 6.1em 2.3em 2.5em;
	margin-left: .5%;
	float: left;
}

#whatup {
	font-size: 1.4em;
	line-height: 1.4em;
	color: black;
}

#two_column {
	margin-top: .5%;
}

.contain {
	max-width: 75%;
	text-align:center;
}

#services_heading {
	color: #eb587f;
	padding: .7em .5em .5em .5em;
}

#contact_heading {
	color: #fba3cf;
	padding: .7em .5em .5em .5em;
}

#left {
	width: 49%;
	background-color: rgba(55,25,35,.9);
	float:left;
	margin-right: .25%;
}

#right {
	width: 49.5%;
	background-color: #27131d;
	float:left;
	vertical-align: top;
	margin-left: .25%;
	height: 398.39px;
}

#list_1 {
	color: white;
	display: block;
	padding: 0 .5em 2em 4.5em;
	float: left;
}

#list_2 {
	color: white;
	display: block;
	padding: 0 2em 2em 2em;
	float: left;
}

#icons {
	display: block;
	padding: 0 .4em 2em 12em;
	float: left;
}


#mail {
	display: block;
	padding: .3em 0;
}

#linkedin {
	display: block;
	padding: .3em 0;
}

#facebook {
	display: block;
	padding: .3em 0;
}

#icon_links {
	display: block;
	padding: 1px 2em 2em .4em;
	float: left;
}

#icon_link_txt {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.4em;
	line-height: 2.7em;
	color: #fe77ac;
	text-align: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 1024px) {
	#index_page img {
		max-width: 100px;
	}
	nav a {
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 420px) {
	#index_page img {
		max-width: 100px;
		padding: 1em;
	}
	nav a {
		font-size: 1.1em;
		padding: .5em;
	}
}